body{
    display: flex;
    justify-content: center;
    background-color: rgb(114, 83, 83);
    align-items: center;
    margin: 260px;
}
#chrono{
    font-size: 200px;
    margin: 80px;
    color: aliceblue;
    position: relative;
    left: 90px;
}
#btn{
    width: 250px;
    height: 80px;
    margin: 50px;
    border-radius: 100px;
    font-size: 40px;
    

}
.chrono_btn{
    border: solid 5px ;
    border-radius: 80px;
    margin: 00px;
    background-color: rgb(105, 67, 67);
}